In [1]:
from netCDF4 import Dataset
import numpy as np
import xarray as xr
import os
import time
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
dp = pd.read_csv('data/csv/weekdata.csv', sep = ',')
df = pd.DataFrame(dp, columns= ['time','cases'])

In [3]:
import pandas as pd
south = pd.read_csv('data/csv/south2.csv', sep = ',')
south2 = pd.DataFrame(south, columns= ['time','chla_mean','lake_surface_water_temperature'])

In [4]:
#calculating monthly average
south2.set_index('time', inplace=True)

south2.index = pd.to_datetime(south2.index)

monthly= south2.resample('1M').mean()

In [5]:
#remove all the invalid values. 
monthly1 = (monthly.dropna())

In [6]:
monthly1

            chla_mean  lake_surface_water_temperature
time
2016-04-30   0.198200                      299.732647
2016-05-31   0.213300                      299.076148
2016-06-30   0.313540                      298.454398
2016-07-31   0.602235                      297.409943
2016-08-31   0.571177                      297.926168
2016-09-30   0.954182                      298.361733
2016-10-31   0.670982                      296.388556
2016-11-30   0.828756                      299.550628
2016-12-31   0.247834                      299.666199
2017-01-31   0.275373                      298.582460
2017-02-28   0.169758                      296.741778
2017-03-31   0.163480                      298.930001
2017-04-30   0.141735                      299.721920
2017-05-31   0.381364                      299.541957
2017-06-30   0.804995                      298.847596
2017-07-31   1.816167                      297.967944
2017-08-31   2.154057                      297.373510
2017-09-30   1.671643                      298.074939
2017-10-31   0.211677                      297.773766
2017-11-30   0.336097                      297.429645
2018-02-28   0.138668                      300.198357
2018-03-31   0.135614                      300.609901
2018-04-30   0.095172                      298.689201
2018-05-31   0.110024                      299.695309
2018-06-30   0.410478                      298.301424
2018-07-31   0.331461                      298.118642
2018-08-31   1.199353                      297.522394
2018-09-30   0.300606                      296.500010
2018-10-31   0.362403                      297.820753
2018-11-30   0.198399                      299.828906
2018-12-31   0.601824                      299.483184